.ant-layout-sider{
    /*background: rgb(255, 255, 255)!important;*/
    background: #333744;
    /*width: 255px; flex: 0 0 200px; max-width: 255px; min-width: 200px;*/
}


.header-a{
    width: 80px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    display: inline-block;
}

.header-b{
    width: 120px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    display: inline-block;
}

.toggle{
    text-align: center;
    height: 30px;
    background: #4a5064;
    cursor: pointer;
    line-height: 30px;
    color: #ffff;
}

.ant-layout-header{
    width: 100%;
    height: 50px;
    background: rgb(55, 61, 65) !important;
    color: rgb(255, 255, 255) !important;
    font-size: initial;
    line-height: 50px !important;
    padding: 0px !important;
    padding-right: 50px !important;
}



.inline-content{
    width: 100%;
    padding: 10px;
    height: 100%;
    /*position: fixed;*/
    /*top: 50px;*/
    /*left: 200px;*/
    background: rgb(240, 242, 245);
}

.vertical-content{
    width: 100%;
    padding: 10px;
    height: 100%;
    /*position: fixed;*/
    /*top: 50px;*/
    /*left: 80px;*/
    background: rgb(240, 242, 245);
}

.ant-menu-dark {
    background: #333744 !important;
}

.ant-menu-item a{
    font-size: 12px !important;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: rgba(0, 0, 0, 0.24);
}

.ant-menu-dark  .ant-menu-submenu-title{
    font-size: 13px !important;
}

.cxp-breadcrumb{
    background: #4a506470;
    padding: 6px;
}

/*.ant-dropdown-menu{*/
    /*background: rgb(55, 61, 65) !important*/
/*}*/


.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
    color: #0000ffa6;
}
.link-button:hover,
.link-button:focus {
    color: #1DA57A;
}